body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-item {
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.price-list {
  max-width: 800px;
  margin: 0 auto;
}

/* Tambahan CSS untuk efek hover pada menu */
.menu-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.telkomsel {
  background-color: #e60000; /* Merah */
}

.indosat {
  background-color: #ffd700; /* Kuning */
}

.smartfren {
  background-color: #ff0000; /* Merah */
  color: #000; /* Hitam */
}

.byu {
  background-color: #00bfff; /* Biru Cerah (serupa dengan XL) */
}

.tri {
  background-color: #333; /* Hitam agak abu-abu */
}

.xl {
  background-color: #291586; /* Biru Kereng (biru muda agak kehijauan) */
}
.axis {
  background-color: #800080; /* Ungu */
}
